*{
    box-sizing: border-box;
}

.jandaba{
  display: block;
  position: relative;
  width: 100%;
  height: 1000px;
}
.jandaba::after{
  content: "";
  background: url(./easy_pictures/Hue_Saturation\ 1.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}